-r https://raw.githubusercontent.com/robotframework/RIDE/master/requirements.txt
robotframework-ride==2.0b1
robotframework-seleniumlibrary
robotframework-appiumlibrary
robotframework-faker
xlrd==1.2.0
allure-robotframework
