-r https://raw.githubusercontent.com/robotframework/RIDE/master/requirements.txt
robotframework-ride==2.0b1
robotframework-seleniumlibrary
robotframework-faker
robotframework-requests
robotframework-excel
robotframework-whitelibrary
pywinauto==0.6.8
pyodbc==4.0.30
jsonpath-rw-ext==1.2.2
robotframework-SikuliLibrary==1.0.8
robotframework-datadriver==0.4.0b2
