-r https://raw.githubusercontent.com/robotframework/RIDE/master/requirements.txt
robotframework-ride==2.0b1
robotframework-seleniumlibrary
robotframework-appiumlibrary
robotframework-dependencylibrary
robotframework-requests
robotframework-excel
robotframework-faker
pyodbc==4.0.30
jsonpath-rw-ext==1.2.2
robotframework-sshlibrary
xlrd
xlwt
cx_oracle